html {
    text-align: center;
    background-color: black;
    padding: 0;
    margin: 0;
    font-family: verdana; 
}

h1 {
    color: white;
    font-weight: normal;
    font-size: 50px;
}

.download_container h3 {
    color: aquamarine;
    font-size: 16px;
    text-decoration: underline;
    font-weight: normal;
}

h2 {
    color: gray;
    font-size: 21px;
    font-weight: normal;
}

.trademark_container {
    text-align: right;
}

.phoneicon_container {
    margin-top: 30px;
}

.travelguide_container h1, .comingsoon_container h1 {
    font-size: 42px;
}